<template>
  <div>
    <p>Counter is: {{ doubleCounter }}</p>
    <p>Number of Clicks: {{ stringCounter}}</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as types from '../store/types'
export default {
  // props: ['counter']
  computed: {
    //without getters
    // counter() {
    //   return this.$store.getters.doubleCounter
    // },
    // clicks() {
    //   return this.$store.getters.stringCounter
    // }

    // you can also pass an Object and map the Getters to different Names
    // mapGetters: ({
    //   propertyName: 'doubleCounter'
    // })
    //installed babel-preset-stage-2 to make spread working
    // npm install --save-dev babel-preset-stage-2
    // added ["stage-2"] on babellrc
    ...mapGetters({
      doubleCounter: types.DOUBLE_COUNTER,
      stringCounter: types.CLICK_COUNTER
    })
  }
  
};
</script>